/*
 * File: _contact.scss
 * Description: The stylesheet for contact me section.
 * Author: Sander Shi.
 */

// Main
.contact {
    @include page-section();
    background-color: $contact-color;
    color: $landing-page-color;
    display: flex;
    align-items: center;
    opacity: 0;
    hr {
        margin: 40px;
    }
    h2 {
        text-align: center;
    }
    .form-container {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        form {
            input[type=text], input[type=email], textarea, input[type=submit] {
                background-color: $input-color;
                color: $landing-page-color;
                border: 0;
                margin-bottom: 25px;
                width: 100%;
                padding: 8px;
                border-radius: 2px;
                transition-duration: 0.3s;
                font-size: 20px;
            }
            input[type=submit] {
                cursor: pointer;
                transition-duration: 0.3s;
            }
            input[type=submit]:hover {
                background-color: $theme-color;
                transition-duration: 0.3s;
            }
            textarea {
                height: 220px;
                max-height: 280px;
            }
            textarea:focus, input:focus{
                outline: none;
                background-color: darken($input-color, 25);
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $grey-text-color;
                opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $grey-text-color;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $grey-text-color;
            }
        }
    }
}

@media screen and (max-width: $medium-screen) {
    .contact {
        .form-container {
            width: 100%;
        }
    }
}
