/*
 * File: _landing_page.scss
 * Description: This is the stylesheet for the landing page section.
 * Author: Sander Shi.
 */

// Keyframes
@-webkit-keyframes more-arrow {
    0%      {bottom: 10px; opacity: 0;}
    100%    {bottom: -10px; opacity: 1;}
}

@keyframes more-arrow {
    0%      {bottom: 10px; opacity: 0;}
    100%    {bottom: -10px; opacity: 1;}
}

// Main
#landing-page {
    @include page-section();
    .landing-page-content {
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        .landing-page-text {
            max-width: 950px;
            h1 {
                font-size: 70px;
                font-weight: bold;
                padding: 10px;
            }
            p {
                font-size: 35px;
                color: $short-descript-color;
                padding: 10px;
            }
            .icons {
                color: $icon-color;
                a {
                    margin: 30px;
                    font-size: 40px;
                    color: $icon-color;
                    transition-duration: 0.3s;
                }
                a:hover {
                    color: $short-descript-color;
                    transition-duration: 0.3s;
                }
            }
        }
        .name {
            color: $theme-color;
        }
        .more-arrow {
            position: absolute;
            bottom: 30px;
            a {
                color: $icon-color;
                cursor: pointer;
                p {
                    margin: 0;
                    padding: 5px;
                }
                svg {
                    position: relative;
                    animation: more-arrow 2s infinite;
                    -webkit-animation: more-arrow 2s infinite;
                }
            }
            a:hover {
                color: lighten($icon-color, 50%);
            }
        }
    }
}

// Media Queries
@media screen and (max-width: $large-screen) {
   #landing-page {
       .landing-page-content {
           .landing-page-text {
               max-width: 600px;
               p {
               font-size: 25px;
               }
               .icons {
                   a {
                       margin: 20px;
                       font-size: 40px;
                   }
               }
           }
       }
   }
}

@media screen and (max-width: $medium-screen) {
    #landing-page {
        .landing-page-content {
            .landing-page-text {
                max-width: 600px;
                h1 {
                    font-size: 50px;
                }
                p {
                    font-size: 20px;
                }
                .icons {
                    a {
                        margin: 10px;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
