/*
 * File: _learn_more.scss
 * Description: The stylesheet for the learn more section.
 * Author: Sander Shi.
 */

// Main
#learn-more {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .learn-more-content {
        width: 100%;
        height: 100%;
        background-color: $sidenav-color;
        padding: 30px;
        display: flex;
        justify-content: center;
        text-align: justify;
        align-items: center;
        a.learn-more-close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            font-size: 25px;
            margin: 15px;
        }
        a.learn-more-close:hover {
            transform: rotate(90deg);
        }
        .learn-more-text {
            max-width: 800px;
            h2 {
                margin-bottom: 30px;
                font-weight: 6000;
            }
            p {
                font-weight: 200;
            }
        }
    }
}


// Responsive
@media screen and (max-width: $large-screen) {
}
