@font-face {
  font-family: cd;
  src: url( ../Source/fonts/cd.ttf ) format("truetype");
}
*{
margin:0;
}
.main{
background-image: url("../Source/mainbg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
.bike{
background-image: url("../Source/bikebg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
.cube{
background-image: url("../Source/cubebg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
.music{
background-image: url("../Source/musicbg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
.coding{
background-image: url("../Source/codebg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
body{
height:100%;
background-color: #efefef;
color: #FFF;
font-family:arial;
}
.button a:link,.button a:visited{
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
	color:#ffffff;
	padding: 15px;
	font-family:arial;
	transition:background 0.5s;
}
.button{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
	width:230px;
}
.langbutton a:link,.langbutton a:visited{
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
	color:#4f4f4f;
	padding: 15px;
	font-size:75%;
	margin-left: auto;
    margin-right: auto;
	border-style: solid;
    border-color: rgba(0,0,0,0.5);
	font-family:arial;
	transition:background 0.5s;
}
.button a:hover,
.langbutton a:hover{
    background:rgba(0,0,0,0.5);
}
.langbutton a:hover{
    color:#efefef;
}

.index a:link,.index a:visited{
    text-align: center;
    text-decoration: none;
	color:#ffffff;
	padding: 15px;
	font-size:75%;
	transition:background 0.5s;
}
.index a:hover{
    color:#222222;
}
#sidelink a:link, #sidelink a:visited{
 display:block;
 text-align:center;
 text-decoration:none;
 font-size:75%;
 color:white;
 font-family:arial;
 transition:background-color 0.5s;
}
#sidelink a:hover{
background-color:rgba(0,0,0,0.7);
}
h1{
  text-align:center;
}
.myLinks{
    text-decoration: none;
    color: #efefef;
}
.myname{
font-size:500%;
margin-top:30%;
font-family:cd;
background-color:rgba(0,0,0,0.3);
text-align:center;
}
.compsci{
text-align:center;
font-family:arial;
font-weight:100;
margin:15px;
}
ul{
list-style-type:none;
}
li{
float:left;
}
.site-footer{
  padding:30px;
  background:rgba(0,0,0,0.7);
  text-align:center;
  color:#efefef;
  font-family:arial;
}
.aboutpara{
 text-indent:25px;
 width:50%;
 text-align:left;
 color:#595959;
 font-size:110%;
}
.abouttable{
padding:100px;
background-image:url("../Source/me.jpg");
background-size:691px 420px;
background-repeat:no-repeat;
background-color:#efefef;
background-position:right bottom;
width:100%;
text-align:center;
color:#777777;
text-indent:20px;
text-align:left;
font-family:arial;
color:#404040;
}
.contact{
 width:50%;
padding:60px;
margin:10px;
color:#efefef;
font-family:Arial;
}
.pagetitles{
  color:#4f4f4f;
  margin-top:70px;
  text-align:center;
  margin-bottom:50px;
  font-size:200%;
  font-family:arial;
}
.childtitles{
 color:#4f4f4f;
 text-align:center;
 background-color:#efefef;
 padding-top:50px;
}
video{
 width:1000px;
 height:500px;
 margin:50px;
 margin-left:0;
 margin-right:0;
}
.youku{
  margin-top:50px;
  margin-bottom:50px;
  width:1000px;
  height:833px;
}
.code{
   text-align:left;
   margin-left: auto;
   margin-right: auto;
   margin-bottom:100px;
   background-color:black;
   color:#00ff00;
   width:800px;
}
.index{
  background-color:#bfbfbf;
  text-align:center;
  color:#777777;
  font-family:arial;
}
.pagecontent{
 background-color:#efefef;
 font-family:arial;
 text-align:center;
 color:#606060;
}
.sidebar{
background:rgba(0,0,0,0.5);
height:80px;
width:30px;
position:fixed;
top:50%;
right:0;
color:white;
border-radius:10px 0px 0px 10px;
}
#space{
margin-bottom:20%;
}
nav{
    height: 40px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    font-size: 11pt;
    font-family: arial;
    font-weight: bold;
    position: fixed;
	top:0;
    text-align:center;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    text-align:center;
}
nav li {
    display: inline;
    float: left;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-align:center;
}
nav li a {
    border-right: 1px solid rgba(0,0,0,0.5);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align:center;
	transition:background-color 0.5s;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: rgba(0,0,0,0.1);
}
nav a#pull {
    display: none;
}
	pre{
	    background-color:#000000;
	    color:#00ff00;
	}
	pre .line-number{
	    float:left;
	    border-right:2px solid;
	    text-align:right;
	    display:block;
	    margin-right:2px;
	}
	pre .line-number span {
	  display:block;
	  padding:0 .5em 0 1em;
	}
	pre .cl{
	  display:block;
	  clear:both;
	}


@media screen and (max-width:1440px){
.abouttable{
background-image:url("../Source/me1.jpg");
background-size:353px 417px;
}
video{
 width:800px;
 height:400px;
}
.youku{
  width:800px;
  height:666px;
}
}

@media screen and (max-width:1000px){
.abouttable{
background-image:none;
}
.aboutpara{
width:100%;
}
video{
 width:580px;
 height:290px;
}
.youku{
  width:580px;
  height:483px;
}
.code{
 width:600px;
}
pre{
 font-size:16px;
}
}

@media screen and (max-width:800px){
.main{
background-image:url("../Source/mainbgp.jpg");
}
.cube{
background-image:url("../Source/cubebgp.jpg");
}
.coding{
background-image:url("../Source/codebgp.jpg");
}
.bike{
background-image:url("../Source/bikebgp.jpg");
}
.music{
background-image:url("../Source/musicbgp.jpg");
}
}

@media screen and (max-width: 600px) {
.pagetitles{
margin-top:50px;
}
.langbutton a:link,.langbutton a:visited{
width:150px;
}
.button a:link, .button a:visited{
width:150px;
}
.button{
 width:180px;
}
.myname{
 margin-top:250px;
 padding:20px;
 font-size:300%;
}
#space{
margin-bottom:250px;
}
.abouttable h1{
font-size:36px;
}
.aboutpara{
width:100%;
font-size:25px;
font-weight:100;
padding:0;
margin:0;
}
.abouttable{
padding:10px;
}
video{
 width:420px;
 height:210px;
}
.youku{
  width:420px;
  height:350px;
}
.contact{
padding:10px;
margin:0;
width:100%;
font-size:80%;
}
nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border-bottom: 1px solid #9f9f9f;
        border-right: 1px solid #9f9f9f;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
	.code{
	     width:100%;
	}
	pre{
	font-size:13px;
	}
}

@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('../Source/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
	video{
 width:100%;
 height:50%;
}
.youku{
  width:100%;
}
}
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
    .contact{
    font-size:50%;
    }
    .aboutpara{
    font-size:20px;
    }
	.youku{
     height:200px;
    }
}
