/*
 * File: main.scss
 * Description: The main stylesheet for Sander's personal website.
 * Author: Sander Shi.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url(./bootstrap.min.css);
@-webkit-keyframes more-arrow {
  0% {
    bottom: 10px;
    opacity: 0; }
  100% {
    bottom: -20px;
    opacity: 1; } }
@keyframes more-arrow {
  0% {
    bottom: 10px;
    opacity: 0; }
  100% {
    bottom: -20px;
    opacity: 1; } }
html {
  font-size: 16px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1260px;
  padding-left: 20px;
  padding-right: 20px; }

#landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../src/portrait.jpg");
  background-position: center;
  background-size: cover; }
  #landing-page .image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 1; }
  #landing-page .landing-page-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center; }
    #landing-page .landing-page-content .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: inline-block;
      transition-duration: 0.3s;
      font-size: 16px; }
      #landing-page .landing-page-content .navbar a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
        float: right;
        font-weight: bold;
        border: none;
        padding: 6px;
        border-radius: 4px;
        transition-duration: 0.3s; }
      #landing-page .landing-page-content .navbar a:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transition-duration: 0.3s;
        cursor: pointer; }
    #landing-page .landing-page-content .scrolled-navbar {
      background-color: rgba(0, 0, 0, 0.8);
      transition-duration: 0.3s; }
      #landing-page .landing-page-content .scrolled-navbar a {
        color: white; }
      #landing-page .landing-page-content .scrolled-navbar a:hover {
        color: #7f8c8d;
        background-color: transparent; }
    #landing-page .landing-page-content .landing-page-text {
      max-width: 950px; }
      #landing-page .landing-page-content .landing-page-text h1 {
        font-size: 70px;
        font-weight: bold; }
      #landing-page .landing-page-content .landing-page-text p {
        font-size: 35px;
        color: #7f8c8d; }
      #landing-page .landing-page-content .landing-page-text .icons {
        color: #000000; }
        #landing-page .landing-page-content .landing-page-text .icons a {
          margin: 30px;
          text-decoration: none;
          color: #000000;
          transition-duration: 0.3s; }
        #landing-page .landing-page-content .landing-page-text .icons a:hover {
          color: #7f8c8d;
          transition-duration: 0.3s; }
    #landing-page .landing-page-content .name {
      color: #1abc9c; }
    #landing-page .landing-page-content .more-arrow {
      position: absolute;
      bottom: 20px; }
      #landing-page .landing-page-content .more-arrow a {
        text-decoration: none;
        color: #000000; }
        #landing-page .landing-page-content .more-arrow a p {
          margin: 0;
          padding: 5px; }
        #landing-page .landing-page-content .more-arrow a svg {
          position: relative;
          animation: more-arrow 2s infinite;
          -webkit-animation: more-arrow 2s infinite; }

#about-me {
  height: 100vh;
  width: 100%;
  background-color: #16a085;
  color: white; }
  #about-me .about-me-content {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1abc9c; }

@media screen and (max-width: 1124px) {
  #landing-page {
    background-image: url("../src/portrait-mobile.jpg"); }
    #landing-page .landing-page-content .landing-page-text {
      max-width: 600px; }
      #landing-page .landing-page-content .landing-page-text p {
        font-size: 25px; }
      #landing-page .landing-page-content .landing-page-text .icons a {
        margin: 20px;
        font-size: 35px; } }
@media screen and (max-width: 650px) {
  #landing-page .landing-page-content .landing-page-text {
    max-width: 600px; }
    #landing-page .landing-page-content .landing-page-text h1 {
      font-size: 50px; }
    #landing-page .landing-page-content .landing-page-text p {
      font-size: 20px; }
    #landing-page .landing-page-content .landing-page-text .icons a {
      margin: 10px;
      font-size: 25px; } }

/*# sourceMappingURL=main.css.map */
