/*
 * File: main.scss
 * Description: The main stylesheet for Sander's personal website.
 * Author: Sander Shi.
 */

// Imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "./bootstrap.min.css";

// Variables
$landing-page-color: white;
$theme-color: #1abc9c;
$icon-color: #000000;
$navbar-color: rgba(0, 0, 0, 0.8);
$short-descript-color: #7f8c8d;
$about-me-color-1: #1abc9c;
$about-me-color-2: #16a085;

// Mixins
@mixin page-section() {
    height: 100vh;
    width: 100%;
}

@mixin fixed-pos() {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

// Keyframes
@-webkit-keyframes more-arrow {
    0%      {bottom: 10px; opacity: 0;}
    100%    {bottom: -20px; opacity: 1;}
}

@keyframes more-arrow {
    0%      {bottom: 10px; opacity: 0;}
    100%    {bottom: -20px; opacity: 1;}
}

// Responsive Text
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

// Main
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1260px;
    padding-left: 20px;
    padding-right: 20px;
}

#landing-page {
    @include page-section();
    position: relative;
    background-image: url("../src/portrait.jpg");
    background-size: cover;
    .image-overlay {
        @include fixed-pos();
        background-color: $landing-page-color;
        opacity: 1;
    }
    .landing-page-content {
        @include fixed-pos();
        display: none;
        align-items: center;
        justify-content: center;
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: inline-block;
            transition-duration: 0.3s;
            font-size: 16px;
            a {
                text-decoration: none;
                color: $navbar-color;
                float: right;
                font-weight: bold;
                border: none;
                padding: 6px;
                border-radius: 4px;
                transition-duration: 0.3s;
            }
            a:hover {
                background-color: rgba(0, 0, 0, 0.3);
                transition-duration: 0.3s;
                cursor: pointer;
            }
        }
        .scrolled-navbar {
            background-color: $navbar-color;
            transition-duration: 0.3s;
            a {
                color: $landing-page-color;
            }
            a:hover {
                color: $short-descript-color;
                background-color: transparent;
            }
        }
        .landing-page-text {
            h1 {
                font-size: 70px;
                font-weight: bold;
            }
            p {
                font-size: 35px;
                color: $short-descript-color;
            }
            .icons {
                color: $icon-color;
                a {
                    margin: 30px;
                    text-decoration: none;
                    color: $icon-color;
                    transition-duration: 0.3s;
                }
                a:hover {
                    color: $short-descript-color;
                    transition-duration: 0.3s;
                }
            }
        }
        .name {
            color: $theme-color;
        }
        .more-arrow {
            position: absolute;
            bottom: 20px;
            a {
                text-decoration: none;
                color: $icon-color;
                p {
                    margin: 0;
                    padding: 5px;
                }
                svg {
                    position: relative;
                    animation: more-arrow 2s infinite;
                    -webkit-animation: more-arrow 2s infinite;
                }
            }
        }
    }
}

#about-me {
    @include page-section();
    background-color: $about-me-color-2;
    color: $landing-page-color;
    .about-me-content {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $about-me-color-1;
    }
}
